@import '../../custom.scss';
@import "~taro-ui/dist/style/components/flex.scss";
.personal-header{
    background-image: url('../../../images/person_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.width-200{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.circle{
    border-radius: 50%;
    background-clip: border-box;
    overflow: hidden;
    
}
.width-height-400{
    width: 150px;
    height: 150px;
}
