@import '../../custom.scss';
.selector-title{
    position: absolute;
    margin-left: 10px;
}
.selector-content{
    width: 600px;
    margin-left: 220px;
}
.selector-border{
    border-top: 1px solid lightgrey;
    line-height: 110px;
    height: 110px;
}
.selector-border-bottom{
    border-bottom: 1px solid lightgrey;
}
.hide{
    display: none;
}
.area-margin-top-20{
    margin-top: 35px;
}
.picker-placeholder{
    color: #959595;
}
.selector-border-top{
    border-top: 1px solid white;
    line-height: 110px;
    height: 110px;
}