@import "../../custom.scss";

.width-200{
    width: 200px;
}
.width-300{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.at-modal__content{
    min-height: auto;
    text-align: center;
}