@import "../../custom.scss";
.width-400{
    width: 675px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    height: 1100px;
}
// .hidden{
//     display: none;
// }
.margin-left-px100{
    margin-left: -100px;
}
.hidden{
    overflow: hidden;
}
.submit_button{
    // position: fixed;
    // bottom: 40px;
    // right: 0;
    // left: 0;
    width: 650px;
    margin:50px auto 10px auto;
}